#ghosttrain {
  position:absolute; 
  top:10px; 
  right:10px; 
  opacity: 0.8; 
  width:250px; 
  border:1px solid #565656;
  padding: 5px;
  background-image: url(border.png);
}

#ghosttrain h1 {
  margin:0;
  padding:0;
  border:0;
  text-align:center;
  font:14px sans-serif;
  font-weight:bold;
  letter-spacing:-1px;
  text-transform: uppercase;
  text-decoration:none;
  background:none;
  color:#ddd;
  margin-bottom:4px;
}

#ghosttrain a.documentation {
  display:block;
  margin:0;
  padding:0;
  border:0;
  margin-top:5px;
  text-align:center;
  font:11px sans-serif;
  letter-spacing:-1px;
  text-transform: uppercase;
  text-decoration: underline;
  background:none;
  color:#ddd;
}

#ghosttrain-reminder {
  position:absolute;
  top:10px;
  right:10px;
  margin:0;
  padding:4px;
  border:1px solid #000;
  color:#000;
  font:12px sans-serif;
  opacity:0.3;
  z-index:10000;
}

#ghosttrain div.controls {
  margin:0;
  padding:5px;
  border:0;
  background-color: #7b7b7b;
}

#ghosttrain ul.buttons {
  margin:0;
  padding:0;
  border:0;
  list-style-type:none;
  overflow:auto;
}

#ghosttrain ul.buttons li {
  float:left;
  padding:5px;
  background-color:#565656;
  width:50px;
  color:#888;
  font:14px sans-serif;
  font-weight:bold;
  text-align:center;
  margin-right:5px;
}

#ghosttrain ul.buttons li.active {
  background-color:#cfc;
  color:#000;
  cursor:pointer;
}

#ghosttrain div.status {
  font:11px sans-serif;
  color:#eee;
}