<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} &mdash; Scriptaculous Documentation</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />  
  <link rel="stylesheet" href="/scriptaculous/css/docs.css" media="screen" />
  <link href="http://github.com/madrobby/scriptaculous/commits/master.atom" rel="alternate" title="Recent Commits to scriptaculous:master" type="application/atom+xml" />
  <meta name="description" content="script.aculo.us is an open-source JavaScript framework for visual effects and interface behaviours." />
</head>
<body>
<div id="header">
  <div id="internal">
  <h2 id="logo"><a href="/scriptaculous/">script.aculo.us</a></h2>
  <ul id="navbar">
    <li><a href="http://script.aculo.us/">Scriptaculous Home</a></li>
    <li><a href="/scriptaculous/">Documentation Home</a></li>
    <li><a href="/scriptaculous/contribute">Contribute</a></li>
  </ul>
  </div>
</div>

<div id="content">
  <h1 id="page-title">{{ page.title }}</h1>
  <div id="wiki">
    {{ content }}
  </div>

  <div id="sidebar">
    <h3>Pages</h3>
      <ul id="nav">
      {% for post in site.posts reversed %}
        {% if page.title == post.title %}
          <li>{{ page.title }}</li>
        {% else %}
          <li><a href="/scriptaculous{{ post.url }}/" class="{{ cat }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
  </div>  
  <div id="footer">
    <p>script.aculo.us was created by <a href="http://mir.aculo.us/">Thomas Fuchs</a>,
    and is extended and improved by open-source contributors.
    script.aculo.us is released under the <a href="http://madrobby.github.com/scriptaculous/license/">MIT license</a>.</p>
  </div>
</div>

<script src="http://static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">clicky.init(66350389);</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66350389ns.gif" /></p></noscript>
</body>
</html>